// Primary colours
$timberwolf: #EADEDA;
$lighten-timberwolf-10: lighten($timberwolf, 10%);
$lighten-timberwolf-20: lighten($timberwolf, 20%);
$darken-timberwolf-10: darken($timberwolf, 10%);
$darken-timberwolf-20: darken($timberwolf, 20%);

$cinereous: #998888;
$lighten-cinereous-10: lighten($cinereous, 10%);
$lighten-cinereous-20: lighten($cinereous, 20%);
$darken-cinereous-10: darken($cinereous, 10%);
$darken-cinereous-20: darken($cinereous, 20%);

$silver: #BFB8AD;
$lighten-silver-10: lighten($silver, 10%);
$lighten-silver-20: lighten($silver, 20%);
$darken-silver-10: darken($silver, 10%);
$darken-silver-20: darken($silver, 20%);

$burnt-umber: #823329;
$lighten-burnt-umber-10: lighten($burnt-umber, 10%);
$lighten-burnt-umber-20: lighten($burnt-umber, 20%);
$darken-burnt-umber-10: darken($burnt-umber, 10%);
$darken-burnt-umber-20: darken($burnt-umber, 20%);

$cordovan: #8A3033;
$lighten-cordovan-10: lighten($cordovan, 10%);
$lighten-cordovan-20: lighten($cordovan, 20%);
$darken-cordovan-10: darken($cordovan, 10%);
$darken-cordovan-20: darken($cordovan, 20%);

// Secondary colours
$ebony: #5F634F;
$lighten-ebony-10: lighten($ebony, 10%);
$lighten-ebony-20: lighten($ebony, 20%);
$darken-ebony-10: darken($ebony, 10%);
$darken-ebony-20: darken($ebony, 20%);

$charcoal: #3E4A56;
$lighten-charcoal-10: lighten($charcoal, 10%);
$lighten-charcoal-20: lighten($charcoal, 20%);
$darken-charcoal-10: darken($charcoal, 10%);
$darken-charcoal-20: darken($charcoal, 20%);

$seal-brown: #490602;
$lighten-seal-brown-10: lighten($seal-brown, 10%);
$lighten-seal-brown-20: lighten($seal-brown, 20%);
$darken-seal-brown-10: darken($seal-brown, 10%);
$darken-seal-brown-20: darken($seal-brown, 20%);

$makara: #70614E;
$lighten-makara-10: lighten($makara, 10%);
$lighten-makara-20: lighten($makara, 20%);
$darken-makara-10: darken($makara, 10%);
$darken-makara-20: darken($makara, 20%);

$affair: #6C5B7B;
$lighten-affair-10: lighten($affair, 10%);
$lighten-affair-20: lighten($affair, 20%);
$darken-affair-10: darken($affair, 10%);
$darken-affair-20: darken($affair, 20%);