.img-bor-rad-5{
	border-radius: 5px;
}

.img-bor-rad-6{
	border-radius: 6px;
}

.img-bor-rad-7{
	border-radius: 7px;
}

.img-bor-rad-8{
	border-radius: 8px;
}

.img-bor-rad-9{
	border-radius: 9px;
}

.img-bor-rad-10{
	border-radius: 10px;
}

.img-bor-rad-5-perc{
	border-radius: 5%;
}

.img-bor-rad-10-perc{
	border-radius: 10%;
}

.img-bor-rad-15-perc{
	border-radius: 15%;
}

.img-bor-rad-20-perc{
	border-radius: 20%;
}

.img-bor-rad-25-perc{
	border-radius: 25%;
}